<div class="signindiv">
  <h1>AccessMe</h1>
  <div>
    <div>
      <input type="text" placeholder="Email" class="emailInput">
    </div>
    <div>
      <input type="text" placeholder="Password" class="psswdInput">
    </div>
  </div>
  <button type="submit" class="loginbtn">Login</button>
</div>

