<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AccessMe | Aim Points Success</title>
        <link rel="shortcut icon" href="favicon.ico">
        <link href="../styles/normalize.css" rel="stylesheet">        
        <link href="../styles/main.css" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <nav>
            <ul class="headerul">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Signup</a></li>
            </ul>
        </nav>
        
        <div class="signindiv">
            <h1>AccessMe</h1>
            <div>
                <div>
                    <input type="text" placeholder="Email" class="emailInput">
                </div>
                <div>
                    <input type="text" placeholder="Password" class="psswdInput">
                </div>
            </div>
            <button type="submit" class="loginbtn">Login</button>
        </div>
             
        <footer>
            <ul class="footerul">
                <li><a href="#">Sign up</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Advertising</a></li>
                <li><a href="#">Companies</a></li>
                <p>&copy; 2015 AccessMe</p>
            </ul>
        </footer>        
    </body>
</html>